// You can use this method after downloading latest bootstrap zipped file locally

// @import "./bootstrap-5.3.3/scss/functions";
// @import "./bootstrap-5.3.3/scss/variables";
// @import "./bootstrap-5.3.3/scss/variables-dark";
// @import "./bootstrap-5.3.3/scss/maps";
// @import "./bootstrap-5.3.3/scss/mixins";
// @import "./bootstrap-5.3.3/scss/utilities";
// @import "./bootstrap-5.3.3/scss/utilities/api";


// external imports using CDN methods
@import url("https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap/scss/functions");
@import url("https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap/scss/variables");
@import url("https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap/scss/variables-dark");
@import url("https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap/scss/maps");
@import url("https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap/scss/mixins");
@import url("https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap/scss/utilities");
@import url("https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap/scss/utilities/api");

body {
    overflow: scroll;

    a {
        font-family: "Playwrite FR Moderne", cursive;
        font-optical-sizing: auto;
        font-weight: 300; // 100 to 400
        font-style: normal;

        i {
            color: purple;
        }
      }
    
    .row  { 
        div  {
            &:first-child {
                background-color: red;
            }
            &:nth-child(2) {
                background-color: orange;
            }
            &:nth-child(3) {
                background-color: yellow;
            }
            &:nth-child(4) {
                background-color: green;
            }
            &:nth-child(5) {
                background-color: lightblue;
            }
            &:last-child {
                background-color: violet;
            }
        }
    }
}
    
    